<header>
    <h1>Welcome To Your Blog Setup</h1>
    <p>Click on the button below & fill in the details.</p>
</header>

<figure class="gh-flow-screenshot">
    <img src="assets/img/install-welcome.png" alt="Blog screenshot" />
</figure>

<LinkTo @route="setup.two" @classNames="gh-btn gh-btn-green gh-btn-lg gh-btn-icon gh-btn-icon-right">
    <span>Setup Blog &rarr;</span>
</LinkTo>
